.btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.phoneNumber {
    font-size: 30px;
    font-weight: 500;
    opacity: 0.9;
}

.phone {
    border: 1px solid var(--orange);
    border-radius: 8px;
    text-align: center;
}