.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    min-width: 320px;
    max-width: 320px;
}

.miniImages {
    width: 100%;
    display: flex;
    gap: 6px;
}

.miniImages > div {
    flex-grow: 1;
    height: 70px;
}