:root {
    --orange: rgb(241, 126, 25);
    --orange-opacity: rgba(241, 126, 25, 0.7);
    --shadow: 1px 1px 4px 0px rgb(110, 110, 110);
}

* {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}